<header class="hal-header">
      <!-- <div class="logo">
        <a ui-sref="home" target="_blank">
          <img class="header-image" src="./assets/images/headerImage.jpg" alt="">
        </a>
      </div>
      <span><a ui-sref="home">Home</a></span>
      <span><a ui-sref="search">Search</a></span>
      <span><a ui-sref="landing">Login</a></span>
      <div class="greeting-nav pull-right row">

        <div class="topnav hidden-xs hidden-sm">
          <span class="pull-right">
            Welcome
          </span>
        </div>
      </div> -->
  
  <div class="page-header">
    <div class="col-sm-offset-5 col-sm-3">
      <div class="logo">
        <a ui-sref="home" target="_blank">
          <img class="header-image" src="./assets/images/finalhelp160.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-offset-5 col-sm-3">
    <div class="inline-block">
      <span><a ui-sref="home">Home</a></span>
      <span><a ui-sref="search">Search</a></span>
      <span><a ui-sref="landing">Login</a></span>
    </div>
  </div>
    
</header>
  