/*
 * halHeader.less
 *
 * Created: Monday, February 03, 2014
 * (c) Copyright 2014 Holland America, Inc. - All Rights Reserved
 * This is unpublished proprietary source code of Holland America, Inc.
 * The copyright notice above does not evidence any actual or intended
 * publication of such source code.
 */


.hal-header {
    position: relative;
    z-index: 10;
    min-height: 0px;

    nav li {
        display: inline;
    }


    .greeting-nav {
        position: relative;
        padding-right: 20px;
        height: 100%;
        width: 100px;
    }

    .logo {
        float: none;
        margin: 0 auto;
    }

    .secondarynav {
        bottom: 0;
        position: absolute;
        right: 20px;
        font-size: 1.5rem;

        span {
            margin-left: 10px;
            color: @darkThemeColor;
        }
        a {
            color: @darkThemeColor;
            text-decoration: none;
            &:nth-of-type(2) {
                border-right: 1px solid @darkThemeColor;
                padding-right: 5px;
            }
        }
        a:hover {
            text-decoration: underline;
        }
    }
}


