<header class="hal-header">
  <div class="row header-container">
    <!-- <div class="col-sm-6 col-xs-9"> -->
      <div class="logo">
        <a ng-href="#" target="_blank">
          <!-- <img class="img-responsive" ng-src="{{logoUrl}}" alt=""> -->
        </a>
      </div>
      <div class="greeting-nav pull-right row">

        <div class="topnav hidden-xs hidden-sm">
          <span ng-show='mainPassengerName.name' class="pull-right">
            Welcome, {{ mainPassengerName.name }}
            <img ng-src="{{marinerImg}}" alt="">
          </span>
        </div>
      </div>
  </div>
</header>
