<div class="landing-page">  
  <div class="col-md-6">
    <form role="form" ng-submit="login(loginCredentials)">
      <h1>Sign In</h1>
      <hr class="colorgraph">

      <div class="form-group">
        <input ng-model="loginCredentials.email" type="text" name="email" class="form-control input-lg" placeholder="Email" tabindex="1">
      </div>

      <div class="form-group">
        <input ng-model="loginCredentials.password" type="password" name="password" class="form-control input-lg" placeholder="Password" tabindex="2">
      </div>

      <!-- <hr class="colorgraph"> -->
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg" tabindex="3">
        </div>

        <div class="col-sm-12 error-message">
          <div class="alert alert-danger" role="alert" collapse="!loginError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ loginError }}
          </div>
        </div>
      </div>

    </form>
  </div>

  <div class="col-md-6">
    <form role="form" ng-submit="register(registerCredentials)">
      <h1>Register</h1>
      <hr class="colorgraph">

      <div class="form-group">
        <input ng-model="registerCredentials.email" type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="6">
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input ng-model="registerCredentials.password" type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="7">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input ng-model="registerCredentials.passwordConfirm" type="password" name="passwordConfirm" id="passwordConfirm" class="form-control input-lg" placeholder="Confirm Password" tabindex="8">
          </div>
        </div>
      </div>


      <div class="form-group">
        <input ng-model="registerCredentials.addCode" type="addCode" name="addCode" id="add-code" class="form-control input-lg" placeholder="Add Code (it's case sensitive)" tabindex="9">
      </div>


      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
           By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
        </div>
      </div>


      <div class="row">

        <div class="col-xs-12 col-md-12">
          <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="10">
        </div>

        <div class="col-sm-12 error-message">
          <div class="alert alert-danger" role="alert" collapse="!registrationError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ registrationError }}
          </div>
        </div>

      </div>


    </form>
  </div>
</div>