<section class="modal-header login">
  <div class="logo">
    <img class="img-responsive" src="./assets/hal-logo.svg" alt="">
  </div>
</section>

<section class="modal-body login">
  <div class='title'>
    <h1 translate="modals.login.header"></h1>
    <p translate="modals.login.body"></p>
  </div>
 
 
</section>

<section class="modal-footer login">

  <button class="btn olci-btn green-btn" ng-click="close()">
    <span translate="modals.login.close"></span>
  </button>
  <!-- <span id="{{ preTag }}Clse" class="modal-close pull-right" ng-click="close()">
    <i class="glyphicon glyphicon-remove"></i>
  </span> -->
</section>
