@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

@import 'bootstrap.less';
@import 'select.less';
@import 'angular-busy.min.css';
@import 'variables.less';
@import 'mixins.less';

html, body {
  font-size: 12px;
}
@media (min-width: @screen-md) {
  html, body { font-size: 14px; }
}
@media (min-width: @screen-lg) {
  html, body { font-size: 16px; }
}

/* Type will scale with document */
h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: @darkThemeColor;
}
h2,
h4.panel-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: @darkThemeColor;
}
h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
label {
  font-weight: bold;
}
p{
    font-size: 0.875rem;
}
.control-label {
    font-size: 0.875rem;
}

a {
    color: @darkThemeColor;
    text-decoration: underline;
}

a[ng-click] {
    cursor: pointer;
}
.sidebar-caption {
    font-size: 0.75rem;
}
.btn.btn-primary {
    font-size: 0.875rem;
}

.note {
    font-size: 0.75rem;
    color: #666666;
    line-height: 1rem;
}

body {
    background-color: #656565;
    // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 14px;*/
}

svg {
    .fillColor {
        fill: @darkThemeColor;
    }
    .strokeColor {
        stroke: @darkThemeColor;
    }
}


.finals-help-container {
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 0 10px;
    @media (min-width: @screen-sm) {
        padding: 0px 10px 10px 10px; 
    }
    @media (min-width: @screen-md) {
        padding: 0px 20px 20px 20px;  
    }
    @media (min-width: @screen-lg) {
        width: 1000px;
        padding-bottom: 20px;
    }
}

.browser-update {
    border: 2px solid @errorRed;
    max-width: 980px;
    background-color: lighten(@errorRed, 50%);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#main {
    position: relative;
    clear: both;
}

@media (min-width: @screen-lg) {
    .content {
        padding-right: 10px
    }
}

.sidebar {
    padding-left: 10px;
}

.fluid {
    display: block;
    overflow: hidden;
    .box-sizing(border-box);
    margin: 0px;
    padding: 0px;
}

.dark-box {
    .fluid;
    color: #fff;
    background-color: @transparentDark;
    text-shadow: 0 0px 1px rgba(0, 0, 0, .75);
}

.section-title-view-all {
    font-size: 12px;
}

.error-text {
    color:red;
}

 @import './importCommon.less';
