<!--<div class="modal-header">-->
  <!---->
<!--</div>-->
<div class="modal-header clearfix">
    <section id="modal-text" ng-if="!sessionExpired">
        <h2 translate="modals.staleSession.headline"></h2>
    </section>

    <section id="modal-text-session-expired" ng-if="sessionExpired">
        <h2 translate="modals.staleSession.sessionExpiredHeadline"></h2>
    </section>
</div>

<div class="modal-body">

    <div class="stale-session-modal">

        <section id="modal-text" ng-if="!sessionExpired">
            <strong translate="modals.staleSession.subHeadline"></strong>

            <p translate="modals.staleSession.body"></p>
        </section>

        <section id="modal-text-session-expired" ng-if="sessionExpired">

            <p translate="modals.staleSession.sessionExpiredBody"
               translate-values="{ frontEndUrl : frontEndUrl }"></p>
        </section>


    </div>

</div>

<div class="modal-footer">
        <div class="col-sm-6">
            <a href="" class="logout"
                    id="EXTNDSessionMdlLogOutButton"
                    ng-hide="sessionExpired || userLoggedOut"
                    ng-click="chooseEndSession()">
                <span translate="modals.staleSession.logout"></span>
            </a>
        </div>
        <div class="col-sm-6 pull-right">
            <button class="btn olci-btn green-btn"
                    id="EXTNDSessionMdlContButton"
                    ng-hide="sessionExpired || userLoggedOut"
                    ng-click="chooseContinueSession()">
                <span translate="modals.staleSession.continue"></span>
            </button>
        </div>
</div>
