<accordion close-others="false">
  <accordion-group is-open="isOpen[$index]" ng-class="{'open': isOpen[passenger.seqNumber], 'complete': visitedPage('{{page}}', {{passenger.seqNumber}}) && isComplete('{{page}}', {{passenger.seqNumber}}), 'incomplete': visitedPage('{{page}}', {{passenger.seqNumber}}) && !isComplete('{{page}}', {{passenger.seqNumber}})}" ng-repeat="passenger in passengers">

      <ng-form name='{{page}}Form{{passenger.seqNumber}}'>
        <accordion-heading class='guest-accordion-header'>
          <div class="overlay"></div>
          <div>
            <svg version="1.1" ng-show="visitedPage('{{page}}', passenger.seqNumber) && isComplete('{{page}}', {{passenger.seqNumber}})" class="status-svg complete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 17" enable-background="new 0 0 17 17" xml:space="preserve">
              <g>
                <circle fill="#2D9E48" cx="8.5" cy="8.5" r="8.5"/>
                <g>
                  <path fill="#FFFFFF" d="M12.9,5.6c0,0.1-0.1,0.2-0.3,0.3c-0.3,0.2-0.4,0.3-0.5,0.4l-3.6,6c0,0,0,0,0,0.1c0,0,0,0.1,0.1,0.2
                    c0.1,0.1,0.1,0.2,0.1,0.3c0,0.2-0.3,0.3-0.8,0.4c-0.2,0-0.3,0-0.4,0c-0.4,0-0.6-0.2-0.8-0.5c-0.1-0.3-0.1-0.6-0.2-0.9
                    c0-0.1,0-0.1-0.1-0.2l-0.9-1.4c0-0.1-0.1-0.1-0.3-0.2C5.2,10,5.1,10,5,9.9C4.9,9.8,4.9,9.7,4.9,9.6c0-0.1,0.1-0.2,0.2-0.3
                    C5.1,9.2,5.3,9.1,5.6,9c0.3-0.1,0.6-0.1,0.8-0.1c0.5,0,0.8,0.2,0.8,0.5c0,0.1,0.1,0.5,0.5,1L11,4.9c0-0.1,0-0.3,0.1-0.4
                    c0-0.1,0.1-0.2,0.3-0.2c0.1,0,0.1,0,0.2,0c0.2,0,0.5,0.2,0.8,0.5C12.7,5.2,12.9,5.4,12.9,5.6z"/>
                </g>
              </g>
            </svg>
            <svg version="1.1" ng-show="visitedPage('{{page}}', passenger.seqNumber) && !isComplete('{{page}}', {{passenger.seqNumber}})" class="status-svg incomplete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 17" enable-background="new 0 0 17 17" xml:space="preserve">
              <g>
                <path fill="#EC3B26" d="M10.5,2.2C11,3.3,16.6,14,16.6,14c0.9,1.6,0.1,2.9-1.1,3H1.4c-0.9,0-1.9-1-1.2-2.4c0,0,6.2-10.8,6.9-12.3
                  C7.9,0.5,9.7,0.7,10.5,2.2z"/>
                <g>
                  <path fill="#FFFFFF" d="M8.8,13.1c0.3,0,0.6,0.1,0.7,0.3c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.4,0.3-0.7,0.3
                    c-0.3,0-0.6-0.1-0.7-0.3c-0.2-0.2-0.3-0.4-0.3-0.7c0-0.3,0.1-0.5,0.3-0.7C8.2,13.1,8.5,13.1,8.8,13.1z M8.8,12L8.8,12
                    C8.4,12,8,11.6,8,11.2L7.8,6.1c0-0.5,0.3-0.9,0.8-0.9h0.3c0.4,0,0.8,0.4,0.8,0.9l-0.2,5.1C9.6,11.6,9.2,12,8.8,12z"/>
                </g>
              </g>
            </svg>
            {{passenger.firstName + ' ' + passenger.lastName}}
            <i class="pull-right" ng-show="isOpen[$index]"></i>
            <i class="pull-right" ng-show="!isOpen[$index]"></i>
          </div>
        </accordion-heading>
        
        <div class='olci-alert alert-blue row'>
          <div class="alert"><span><i>!</i></span> All fields are required but may be completed later</div>
        </div>
        
        <div passenger-transclude></div>
        
            
        <div class="guest-buttons">
          <button id="{{ preTag }}PrvGstBtnGst{{ passenger.seqNumber }}" class="btn olci-btn blue-btn" ng-click="prevGuest($index)" type="button">PREVIOUS GUEST</button>
          <button id="{{ preTag }}NxtGstBtnGst{{ passenger.seqNumber }}" class="pull-right btn olci-btn blue-btn" ng-click="nextGuest($index)" type="button">NEXT GUEST</button>
        </div>
      </ng-form>
  </accordion-group> <!-- end ng-repeat of passengers -->

</accordion>
