<style>
  .angular-google-map-container { height: 400px; }
</style>

<h1>ltr home</h1>
{{$session.user}}


<ui-gmap-google-map center='map.center' zoom='map.zoom'>
  
  <ui-gmap-markers 
    models="unitMarkers"
    coords="'coords'">
  </ui-gmap-markers>

</ui-gmap-google-map>

<!-- 
    options="marker.options" 
    events="marker.events" 
<ui-gmap-marker
        idKey='1'
        coords='marker.coords'
        icon='icons/house.png'
        click=''
        options='{expression}'
        events=''
        control='{}'
        >
</ui-gmap-marker> -->

<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form">
      <h2>Edit Profile <small>Real change, right here.</small></h2>
      <hr class="colorgraph">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <input ng-model="name" type="text" name="name" id="name" class="form-control input-lg" placeholder="Name" tabindex="2">
          </div>
        </div>
      </div>

      <div class="form-group">
        <input ng-model="phone" type="text" name="phone" id="phone" class="form-control input-lg" placeholder="Phone" tabindex="3">
      </div>

      <div class="form-group">
        <input ng-model="email" type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
      </div>

      <div class="form-group">
        <input ng-model="magi" type="magi" name="magi" id="magi" class="form-control input-lg" placeholder="Monthly Adjusted Gross Income" tabindex="5">
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input ng-model="lat" type="text" name="lat" id="lat" class="form-control input-lg" placeholder="Latitude" tabindex="8">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input ng-model="lng" type="text" name="lng" id="lng" class="form-control input-lg" placeholder="Longitude" tabindex="9">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
           By clicking <strong class="label label-primary">Edit</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
        </div>
      </div>

      <hr class="colorgraph">
      <div class="row">
        <div ng-click="editLtr()" class="col-xs-12 col-md-12"><input type="submit" value="Edit" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
      </div>
    </form>
  </div>
</div>
</div>
