<div class='olci-alert alert-pattern row'>
  <div class="alert"><span><i>!</i></span> Invalid input.</div>
</div>
<div class='olci-alert alert-maxlength row'>
  <div class="alert"><span><i>!</i></span> Input is too long.</div>
</div>
<div class='olci-alert alert-minlength row'>
  <div class="alert"><span><i>!</i></span> Not long enough.</div>
</div>
<div class='olci-alert alert-email row'>
  <div class="alert"><span><i>!</i></span> A valid email is required.</div>
</div>
<div class='olci-alert alert-typeahead row'>
  <div class="alert"><span><i>!</i></span> Must choose a value from the dropdown.</div>
</div>
