<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta name="version" content="<%= version %>"/>

    <title></title>

     <!--compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

</head>

<body>
    <noscript><div class="browser-update">This website requires JavaScript to be enabled in your browser. <a href="http://enable-javascript.com/" target="_blank">Please enable JavaScript.</a></div></noscript>
    <div class="hal-container clearfix">

        <div id="main-header" main-header logout="logout()"></div>

        <pnav id="hal-nav" option-list="optionList" ng-if="currentUser"></pnav>
        <navmobile id="hal-nav-mobile" ng-if="currentUser"></navmobile>

        <div ui-view="main" id="main" error-modal></div>
    </div><!-- .container -->


    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <script type="text/javascript">
        //Initialize the application. This allows other code to be run before our Angular application runs.
        angular.element(document).ready(function () {
            angular.bootstrap(document, ['fh']);
        });
    </script>

</body>
</html>
