<div class="search-page">
  <div class="row well" id="search-bar">

    <!-- search panel class search -->
    <div class="col-sm-3" id="class-search">
      <div class="col-sm-12">
        <h1 class="text-left">Find Papers</h1>
      </div>

      <div class="col-sm-12">
        <ui-select ng-model="query.classId" theme="bootstrap">
          <ui-select-match placeholder="Pick a class">{{$select.selected.title}}</ui-select-match>
          <ui-select-choices repeat="class._id as class in allClasses | filter:$select.search">
            {{class.title}}
            <div ng-bind-html="class.title | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>  

      <div class="col-sm-12">
        <button id="find-papers-btn" class="btn btn-lg btn-block btn-primary" ng-click="findPapersByClass( query )">Get 'em</button>
      </div>
    </div> <!-- end search panel class search -->

    
    <!-- filters -->
    <div class="col-sm-9">
      <div class="col-sm-4">
        <h4>
          Sort By Quarter
        </h4>

        <div class="btn-group-vertical" role="group">
          <button ng-click="togglePeriodReverse()" type="button" class="btn btn-default">Reverse Order</button>
          <!-- <button type="button" class="btn btn-default">Recent Last</button> -->
        </div>
      </div>

      <!-- <div class="col-sm-5">
        <h4>
          Filter by Type:
        </h4>

        <div class="btn-group-vertical" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="checkbox" autocomplete="off" checked>Finals
          </label>
          <label class="btn btn-default">
            <input type="checkbox" autocomplete="off">Midterms
          </label>
          <label class="btn btn-default">
            <input type="checkbox" autocomplete="off">Quizzes
          </label>
        </div>

        <div class="btn-group-vertical" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="checkbox" autocomplete="off">Homework
          </label>
          <label class="btn btn-default">
            <input type="checkbox" autocomplete="off">Notes
          </label>
          <label class="btn btn-default">
            <input type="checkbox" autocomplete="off">Labs
          </label>
        </div>

      </div> -->
    </div>

  </div>

  
  <div cg-busy="{ promise:busyFindingPapers, message: 'Finding Papers...' }"></div>
  <div cg-busy="{ promise:busyFindingPaperImage, message: 'Finding Papers...' }"></div>

  <br>

  <table st-table="displayPapers" st-safe-src="papers" class="table table-striped">
    <thead>
      <tr>
        <th>
          <span ng-click="predicate = 'title'; reverse = !reverse;" class="sort-header">
            Title
            <span ng-show="(predicate === 'title' && reverse)" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="(predicate === 'title' && !reverse)" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="predicate !== 'title'" class="glyphicon glyphicon-chevron-up glyphicon-placeholder"></span>
          </span>
        </th>
        <th>
          <span ng-click="predicate = 'period'; reverse = !reverse;" class="sort-header">
            Quarter
            <span ng-show="(predicate === 'period' && reverse)" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="(predicate === 'period' && !reverse)" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="predicate !== 'period'" class="glyphicon glyphicon-chevron-up glyphicon-placeholder"></span>
          </span>
        </th>
        <th>
          <span ng-click="predicate = 'type'; reverse = !reverse;" class="sort-header">
            Type
            <span ng-show="(predicate === 'type' && reverse)" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="(predicate === 'type' && !reverse)" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="predicate !== 'type'" class="glyphicon glyphicon-chevron-up glyphicon-placeholder"></span>
          </span>
        </th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="Global Search..." type="text"></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="paper in displayPapers | orderBy:predicate:reverse">
        <td><a href="" ng-click="findImage( paper._id )" show-pdf-modal>{{ paper.title }}</a></td>
        <td>{{ paper.period | periodFilter }}</td>
        <td>{{ paper.type | typeFilter }}</td>
      </tr>
    </tbody>
  </table>

  </div>
</div>
